<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
</head>

<body>
<h1>{{title}}</h1>
<hr>
<ul>
    {% for file in files %}
    <li><a href="{{ file.path }}">{{ file.name }}</a> <a href="/delete?path={{title}}file.path">Delete</a> </li>
    {% endfor %}
</ul>
<hr>
</body>
<form method="post" enctype="multipart/form-data">
    <div>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="file" multiple />
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>
</html>
